# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.pdb
*.cache
*.FileListAbsolute.txt

# ReSharper is bad
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Others
*.log
